/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
  overflow: hidden;

}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

/* boxes part - home page */
.row {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: .7rem;
}
.image-container {
    position: relative;
    margin: 10px;
    height: 100px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Optional: Adjust text color based on your design */
    opacity: 0;
    transition: .6s;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    cursor: pointer;
    width: 100%;
}
.content:hover{
    opacity: 1;
}

/* players html */
.sub-text{
    width: 100%;
    position: relative;
    text-align: center;
}
.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #11101D;
    padding: 10px;
    color: white;
}
.filtering{
    padding-right: 25px;
    overflow: hidden;
}

/* player cards */
.players-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}
.statistic-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.player-card{
    padding: 10px;
    border: 1px solid black;
}
.player-card.highlighted {
  background: linear-gradient(45deg, rgb(243, 243, 136), yellow);
}
.player-card.nothighlighted  {
  background: #E4E9F7;
}
.player-card.banned {
  background: linear-gradient(45deg, rgb(237, 138, 138), red);
  color: white;
}
.player-card.potm{
  background: linear-gradient(45deg, rgb(223, 119, 223), purple);
  color: white;
}
.player-card.player-ban{
  background: darkred;
  color: white;
}
.player-card.eliminated-card{
  background: black;
  color: white;
}
.suspended{
  text-align: center;
  font-weight: 900;
  text-decoration: underline;
}
.stat-bold{
    font-weight: 900;
}
.player-name{
    text-align: center;
}
.view-stats{
    margin: auto auto;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.full-stats{
    display: none;
    transition: 1s;
}
.full-stats.active{
    display: block;
}
.player-img{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto;
}
.own-goal-stat{
  color: red;
}

/* search feature */




/* match stats */
.matches-container{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-width: 100%;
}
.total-games{
  text-align: center;
  margin: 10px 0 5px 0;
}
.team{
  line-height: 0;
}
.match-card{
    padding: 10px;
    border: 1px solid black;
    min-width: 100%;
    margin-bottom: 10px;
}
.match-details-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}
.scores-container{
    text-align: center;
    padding: 5px;
}
.line-ups{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-evenly;
    margin: auto auto;
}
.line-ups-text{
    font-weight: 800;
    text-align: center;
}
.stats-text{
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* random team generator page */
.generate-team-btn{
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.field-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
}

.home-team,
.away-team {
  background: repeating-linear-gradient(lightgreen, darkgreen);
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 10px;
  position: relative;
}
.midfield-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.player{
  padding: 15px;
}


/* table */
table{
  width: 100%;
}
.flag-img{
  height: 15px;
  width: 15px;
}
th{
  background: #11101D;
  color: white;
  font-size: 12px;
}
#scoreTable th:nth-child(2){
  text-align: left;
  padding: 0 10px;
}
#scoreTable td:nth-child(2){
  text-align: left;
  padding: 0 10px;
}
tbody{
  font-size: 12px;
  text-align: center;
}
.top{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: gold;
  margin: 5px;
}
.keys{
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
}
.bottom{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: red;
  margin: 5px;
}
.champs{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: cyan;
  margin: 5px;
}
.europa{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: orange;
  margin: 5px;
}
.eliminated{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: black;
  margin: 5px;
}
#scoreTable tr:hover{
  background: black !important;
  color: white;
  font-size: 1rem;  
}

/* log in */
.login-container{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: #11101D;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  padding: 50px;
}
h1{
  text-align: center;
  color: white;
}
label{
  color: white;
}
#signinButton{
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}


/* compare players */
.compare-container{
  border: 1px solid black;
  margin: auto auto;
  margin-top: 10px;
  width: 50%;
}
.stat-container{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 397.5px;
}
.stat-bold{
  text-align: center;
}
.stat-bolds{
  margin: 10px 0;
  text-align: center;
  font-weight: 900;
}
.player-compare-container{
  display: none;
  z-index: 1;
}
.compare-text{
  text-align: center;
  margin: 20px;
  display: block;
}
.view-players{
  text-align: center;
}
.images-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stats-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px; /* Adjust as needed for spacing */
  z-index: 10;
}
.name-container{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}
.overall-container{
  margin: 5px;
  position: relative;
}


img{
  height: 150px;
  width: 150px;
}
.statss,
.titles {
  width: auto; /* Adjust the width based on your preference */
  text-align: center; /* Center-align the content */
}
.statss{
  background: white;
  padding: 0 10px;
  color: black;
  z-index: 1;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titles{
  font-weight: 900;
}
.compare-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-container {
  flex: 1;
  margin: 10px; /* Adjust the margin as needed */
  border: 1px solid #ddd; /* Optional border for separation */
  padding: 10px;
}

.rotate {
  transform: rotate(180deg); /* You can adjust the degree of rotation */
}


/* awards */
.table2{
  width: 100%;
}

.table2 th{
  background: linear-gradient(45deg, #11101d, #E4E9F7);
  padding: 20px;
  width: 50%;
  text-align: left;
}
.table2 td{
  background: white;
  font-weight: 800;
  padding: 7.5px;
  border: 1px solid lightgray;
}
.table2 td:last-child{
  font-weight: 500;
}

/* dshboard */
.large-dash-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 1rem;
  margin: 20px;
}

.dash-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Single column for dash-container content */
  gap: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 6px 8px rgba(0, 0, 0, 0.4);
  margin: 20px;
}

.dash-divide{
  border-top: 1px solid lightgrey;
  padding: 7px;
}
.dash-title{
  font-size: 1.5rem;
  color: black;
}
.dash-text{
  text-align: center;
  margin-top: -10px;
}

.num-players{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}


/* italy games styling */
.match-card.italian-game {
  border: 7.5px solid;
  border-image: linear-gradient(to right, red, white, white, green) 1;
  color: #333; /* Example: Text color */
}

@media (max-width: 700px){
  .large-dash-container{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin: auto auto;
  }
}

@media (max-width: 550px) {
  .filter-container{
    display: block;
    text-align: center;
  }
  .num-players{
    font-size: 0.85rem;
  }
}


@media (max-width: 380px) {
    .matchday{
        display: none;
    }
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
@media (max-width: 760px) {
  .field-container{
    display: block;
  }
  .player{
    padding: 10px;
  }
  .compare-container{
    width: 90%;
  }
}